<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/6f5bcfa0c2.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/process.css">
    <title>Demarest</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .carousel-control-prev {
            left: -130px;
        }

        .carousel-control-next {
            right: -130px;
        }
    </style>
</head>

<body style="background-color: #1e1e1e;max-width: 1190px;margin: 0 auto;">
    <header>
        <nav class="navbar">
            <div class="container">
                <a class="logo" href="#"> <img src="/img/logo.png"></a>
                <ul class="menu">
                    <li><a href="">Início</a></li>
                    <li><a href="">Processos</a></li>
                    <li><a href="">Clientes</a></li>
                    <li><a href="">Jurídico</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="carouselExample" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="col-sm-12 d-flex gap-3 justify-content-between">
                    <div class="col-sm-3 text-white" style="border: 1px solid red;">CONTEÚDO 1</div>
                    <div class="col-sm-3 text-white" style="border: 1px solid red;">CONTEÚDO 2</div>
                    <div class="col-sm-3 text-white" style="border: 1px solid red;">CONTEÚDO 3</div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-sm-12 d-flex">
                    <div class="col-sm-4 text-white" style="border: 1px solid red;">CONTEÚDO 1</div>
                    <div class="col-sm-4 text-white" style="border: 1px solid red;">CONTEÚDO 2</div>
                    <div class="col-sm-4 text-white" style="border: 1px solid red;">CONTEÚDO 3</div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-sm-12 d-flex">
                    <div class="col-sm-4 text-white" style="border: 1px solid red;">CONTEÚDO 1</div>
                    <div class="col-sm-4 text-white" style="border: 1px solid red;">CONTEÚDO 2</div>
                    <div class="col-sm-4 text-white" style="border: 1px solid red;">CONTEÚDO 3</div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-sm-12 d-flex">
                    <div class="col-sm-4 text-white" style="border: 1px solid red;">CONTEÚDO 1</div>
                    <div class="col-sm-4 text-white" style="border: 1px solid red;">CONTEÚDO 2</div>
                    <div class="col-sm-4 text-white" style="border: 1px solid red;">CONTEÚDO 3</div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/controllers/script.js"></script>
</body>

</html>